.footer{
    display: flex;
    justify-content: center;
    align-items:flex-end;
    height: 15vh;
  
    background-color:  rgb(46, 0, 46);
    color: white;
    margin-top: 5%;
    padding-bottom: 10px;

}
.copy{

    display: flex;
    align-items: last baseline;
    justify-content: last baseline;
}
